@model LUSSIS.Controllers.SupervisorReportDTO

@{
    ViewBag.Title = "GenerateReport";
}

<h2>GenerateReport</h2>
<div class="row">
    <div class="col-md-3">
        <div>
            <input type="radio" id="select_supplier" name="supplier_or_category" /><label for="select_supplier">Supplier</label>
            <input type="radio" id="seleect_category" name="supplier_or_category" /><label for="select_category">Supplier</label>
        </div>
        <div>
            <input type="radio" id="This_month" name="date_range" /><label for="This_month">Supplier</label>
            <input type="radio" id="This_year" name="date_range" /><label for="This_year">Supplier</label>
            <input type="radio" id="Past Three Months" name="date_range" /><label for="Supplier">Supplier</label>
            <input type="radio" id="Past Six Months" name="date_range" /><label for="Supplier">Supplier</label>
            <input type="radio" id="Custom Range" name="date_range" /><label for="Supplier">Supplier</label>
        </div>
        <div>
            <input type="checkbox" name="chart_or_table" id="BarChart" />
            <input type="checkbox" name="chart_or_table" id="Table" />
        </div>
    </div>
</div>
<div class="row">


</div>
