@model LUSSIS.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title</h2>
<hr/>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
   
    <dl class="dl-horizontal">
        <dt></dt>
        <dd></dd>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword",null, new{@class="btn btn-outline-primary"})
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword",null,  new { @class = "btn btn-outline-success"} )
            }
            
        </dd>
        
    </dl>
</div>
