
<div class="nav navbar-nav">
    <a class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true" href="@Url.Action("Index", "Requisitions")"><span>Stationery</span></a>
</div>
<div class="nav navbar-nav">
        <a class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true" href="@Url.Action("EmpReq", "Requisitions")"><span>My Requisition</span></a>
</div>

