@Html.Partial("__DeptEmpMenu")
<div class="nav navbar-nav">
    <a class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true" href="@Url.Action("SetCollection", "Collection")"><span>Collection</span></a>
</div>
