@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Not Found";
}
<br /><p></p>
<br />
<div class="alert alert-dismissible alert-danger">
    <h2 class="text-danger">Nothing to see here</h2>
    <br />
</div>
