<div>
    <form id="approveForm">
        <br />
        <h3>You currently has a delegate! Please revoke to continue</h3>
        <br />
        <a href="#" class="btn btn-default" data-dismiss="modal"> Cancel</a>
    </form>

</div>
