@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">You are not allowed to approve/reject your own PO!</h2>
