@model PagedList.IPagedList<LUSSIS.Models.Requisition>

@{
    ViewBag.Title = "Requisition History";
}

<h2>Requisition History</h2>
<hr />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" style="border-radius: 10px;">
    <div class="navbar-nav mr-auto"></div>
    <div class="form-inline my-2 my-lg-0">
        @using (Ajax.BeginForm(new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "reqHistory"
        }))
        {
            <span class="d-inline nav-item nav-link" style="color:whitesmoke">Find in history </span>
            @Html.TextBox("SearchString", null, new { @class = "form-control mr-sm-2", placeholder = "Search" })
            <span class="d-inline nav-item nav-link"><input type="submit" placeholder="Search" class="btn btn-secondary my-2 my-sm-0" /></span>

        }
        @using (Ajax.BeginForm(new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "reqHistory"
        }))
        {
            <span style="float:right">
                <input type="submit" value="Show All" class="btn btn-secondary my-2 my-sm-0" />
            </span>
        }
    </div>
</nav>
<hr />

@Html.Partial("_All", Model)
