@model IEnumerable<LUSSIS.Models.WebDTO.Cart>

@{
    ViewBag.Title = "EmpCart";

}


<h2>Requisition Cart</h2>

<p>
    <input type="submit" value="Submit Requisition" />
    <input type="text">
</p>
<table class="table">
    <tr>
        <th>
            Stationery Item
        </th>
        <th>
            UOM
        </th>
        <th>
            Quantity
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stationery.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stationery.UnitOfMeasure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteCart", new { id = item.RequisitionId })
        </td>
    </tr>
    }

</table>






