@model LUSSIS.Models.WebDTO.RepAndDelegateDTO
@{
    ViewBag.Title = "Department Rep";
}

<h2>Department Rep</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.RepEmployee)
        </th>
    </tr>
    <tr>
        <td>


            @Html.DisplayFor(model => model.Department.RepEmployee.FirstName)
        </td>
    </tr>
</table>
<table>
    @foreach (var item in Model.GetAllByDepartment)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
    </tr>
    }
</table>




