@model LUSSIS.Models.WebDTO.RepAndDelegateDTO
@{
    ViewBag.Title = "Department Representative";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<h2>Department Representative</h2>
@if (Model.GetStaffRepByDepartment != null)
{
    <table class="table table-hover">
        <tr>
            <th>
                Current Department Representative
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Department.RepEmployee.FullName)
            </td>
        </tr>
    </table>
}
else
{
    <div class="alert alert-dismissible alert-info">
        There is no department representative at the moment.
    </div>
}
<nav class="navbar navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        <table class="table table-hover">
            <tr>
                <th>
                    Set New Representative
                </th>
            </tr>
        </table>

        @using (Html.BeginForm("UpdateRep", "RepAndDelegate", FormMethod.Post))
        {
            <input id="Emp" type="text" placeholder="Type and Search Name" name="FullName" />
            <input type="submit" value="Set New Department Rep" class="btn btn-success my-2 my-sm-0" />
            <input type="hidden" id="Emp2" name="RepEmp" />
            <br />
            <label id="tagsname" style="color:red" />
        }
    </div>
</nav>

@section scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(':input[type="submit"]').prop('disabled', true);
            $('input[type="text"]').keyup(function () {
                if ($(this).val() == '') {
                    $(':input[type="submit"]').prop('disabled', true);
                    $('#tagsname').html('You selected none ');
                }
                else {
                    $(':input[type="submit"]').prop('disabled', false);
                }
            });
            $("#Emp").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/RepAndDelegate/GetEmpJson",
                        type: "GET",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.FullName, value: item.EmpNum };
                            }))
                        }
                    })
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $('#Emp2').val(ui.item.value);
                    $(this).val(ui.item.label);
                    if (ui.item == null) {
                        $("#Emp").val('');
                        $(':input[type="submit"]').prop('disabled', true);
                    }
                    else {
                        $('#tagsname').html('You selected: ' + ui.item.label);
                    }
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        $("#Emp").val('');
                        $(':input[type="submit"]').prop('disabled', true);
                    }
                    else {
                        $(':input[type="submit"]').prop('disabled', false);
                    }
                },
                focus: function (event, ui) {
                    $(this).val(ui.item.label);
                    if (ui.item == null) {
                        $("#Emp").val('');
                        $(':input[type="submit"]').prop('disabled', true);
                    }
                    else {
                        $(':input[type="submit"]').prop('disabled', false);
                    }
                },
                //messages: {
                //    noResults: "", results: ""
                //}
            });;
        })
    </script>
}



